footer
	.footer
		.footer-top
			.footer-top__left
				.logo.footer-logo
					span Unicorn
				p.footer-text One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his
				form.footer-form
					.footer-form__line
						input(type="text" name="email" placeholder="EMAIL").footer-form__input
						input(type="text" name="subject" placeholder="SUBJECT").footer-form__input
					.footer-form__line
						textarea(placeholder="MESSAGE" name="message").footer-form__text
					.footer-form__btn
						input(type="submit" value="SEND")
			.footer-top__right
				.footer-top__menu
					span.footer-nav__title LINKS
					ul.footer-nav__list
						li
							a(href="javascript:void(0);") Home
						li
							a(href="javascript:void(0);") About
						li
							a(href="javascript:void(0);") Services
						li
							a(href="javascript:void(0);") Menu
						li
							a(href="javascript:void(0);") Restaurants
						li
							a(href="javascript:void(0);") Work Hours
						li
							a(href="javascript:void(0);") Call Hours
				.footer-top__menu
					span.footer-nav__title FRIENDS
					ul.footer-nav__list
						li
							a(href="javascript:void(0);") Home
						li
							a(href="javascript:void(0);") About
						li
							a(href="javascript:void(0);") Services
						li
							a(href="javascript:void(0);") Menu
						li
							a(href="javascript:void(0);") Restaurants
				.footer-top__menu
					span.footer-nav__title SOCIALS
					ul.footer-nav__list
						li
							a(href="javascript:void(0);") Facebook
						li
							a(href="javascript:void(0);") Twiite
						li
							a(href="javascript:void(0);") Github
						li
							a(href="javascript:void(0);") Pinterest
						li
							a(href="javascript:void(0);") Google Plus
						li
							a(href="javascript:void(0);") Dribble
						li
							a(href="javascript:void(0);") Flickr
						li
							a(href="javascript:void(0);") Others
						
		.fotter-bottom
			.footer-disclaimer
				span One morning, when Gregor Samsa woke from troubled dreams, he found
				span © 2015 Your Awesome Company
			.footer-info-menu
				ul.footer-info-menu__list
					li
						a(href="javascript:void(0);") Terms
						
					li
						a(href="javascript:void(0);") Privacy Policy
						
					li
						a(href="javascript:void(0);") Contact
						
					li
						a(href="javascript:void(0);") Job



