header
	.header
		.logo.header-logo
			span UNICORN
		nav.header-nav
			ul.header-nav__list
				li
					a(href="#") Home
				li
					a(href="#") About
				li 
					a(href="#") Stories
				li 
					a(href="#") Hello
			.header-nav__toggle
				span.header-nav__line.nav-toggle__line--top
				span.header-nav__line.nav-toggle__line--middle
				span.header-nav__line.nav-toggle__line--bottom
