extends ../layout/main

block title
	| Главная страница

block content
	include ../section/top_banner
	include ../section/who_and_why
	include ../section/advantage
	include ../section/featured
	include ../section/clients
	include ../section/portfolio
	include ../section/quote
	include ../section/team_members
	include ../section/facts-and-numbers
	include ../section/articles
	include ../section/articles-slider
	include ../section/twitter