.logo
	font-family: boldFont
	font-size 18px
	text-transform uppercase
.g-btn
	display inline-block
	width 100%
	max-width: 270px
	height 50px
	color mainColor
	font-size: 18px
	border 2px solid borderColor
	font-family: boldFont
	text-align center
	line-height: 50px
.section-title
	display block
	position relative
	font-size: 27px
	font-family: boldFont
	text-align center
	margin-bottom: 55px
.section-text__big
	font-size: 16px
	width 100%
	max-width 970px
	line-height: 33px
	margin 0 auto
	text-align center
.gray-bg
	background-color: grayBgColor
.section-text__small
	font-size 16px
	line-height 26px