@media screen and (max-width 1330px)
	.featured,
	.clients,
	.articles-slider
		.slick-arrow
			top auto
			bottom -50px
			margin 0
	.featured-slider__prev,
	.clients-slider__prev,
	.articles-slider__prev
		left 40%
	.featured-slider__next,
	.clients-slider__next,
	.articles-slider__next
		right 40%
@media screen and (max-width 1150px)
	.footer-top__right
		max-width 450px
@media screen and (max-width 1000px)
	.article-text
		padding-top 30px
@media screen and (max-width 950px)
	.footer-top__left
		float none
		max-width 100%
		margin-bottom 50px
	.footer-top__right
		float none 
		max-width 100%
@media screen and (max-width 800px)
	.team_members__info
		width 40%
		margin-bottom 50px
	.article-item
		float none
		width 100%
		margin 0
		&:first-child
			margin 0
	.article-img
		display none
	
@media screen and (max-width 700px)
	.advantage-item
		width 40%
		margin-bottom 50px
	.featured,
	.clients,
	.articles-slider
		.section-text__big
			margin-bottom 50px
		.slick-arrow
			bottom -30px
@media screen and (max-width 600px)
	.top-bg
		.container
			min-height 550px
	.top-banner__info
		top 20%
		text-align center
	.top-banner__title
		font-size 50px
		&:after
			right 50%
			margin-right -70px
	.top-banner__text
		font-size 16px
		line-height 20px
	.section-text__big
		line-height 20px
	section
		padding 50px 0
@media screen and (max-width 500px)
	.advantage-item
		width 90%
		margin 0 auto 50px
		text-align center
	.advantange-icon
		position static
		display inline-block
	.team_members__info
		width 80%
		padding-top 130px
		margin 0 auto 60px
	.facts-item__wrap
		padding 60px 10px 20px
@media screen and (max-width 450px)
	.header
		text-align center
	.header-logo
		float none
	.top-banner__title
		font-size 35px
	.header-nav
		position absolute
		top 10px
		right 10px
	.portfolio-filter
		li
			margin 0 5px
	.facts-item
		width 80%
		margin 0 auto 30px
	.footer 
		padding-top 30px
		text-align center
	.footer-info-menu,
	.footer-disclaimer
		float none
	.footer-disclaimer
		margin-bottom 40px