// Шрифты
mainFont = "SourceSansProRegular",Arial,sans-serif
boldFont =  "SourceSansProBold",Arial,sans-serif
lightFont = "SourceSansProLight",Arial,sans-serif



// ЦВЕТА 
mainColor = #212121
borderColor = #232323
grayBgColor = #efefef
darkBgColor = #222
whiteColor = #eee
orangeColor = #e64a19
darkestGrayColor = #4d4c4b
lightGrayColor = #555555
darkBottomColor = #474747

// ЦВЕТ ТЕКСТА
footerTextColor = #999999
