.advantage
	text-align center
.advantage-item
	position relative
	padding-top 60px
	display inline-block
	vertical-align top
	width 25%
	margin 0 3% 0
	text-align left
	&:last-child
		margin 0 0 0 3%
.advantange-icon
	position absolute
	left 0 
	top 0
	display block
	margin-bottom 25px
.advantage-title
	display block
	font-size 18px
	font-family: boldFont
	margin-bottom 40px
	
