
.article-line
	overflow hidden
	margin-bottom 50px
	&:last-child
		margin-bottom 0
.article-item
	float left
	width 48%
	text-align center
	span 
		display block
	&:first-child
		margin-right 4%
.article-text
	width 95%
	max-width 420px
	padding-top 60px
	margin 0 auto 
.article-info
	margin-bottom 20px
	color lightGrayColor
.article-title
	font-size 24px
	line-height 33px
	margin-bottom 45px
.article-img
	width 100%