.js-portfolio-slider
	div 
		max-height 350px
		overflow hidden
	img
		
.portfolio
	.section-text__big
		&:after
			content ''
			display block
			width 75px
			height: 7px
			margin 40px auto 50px
			background-color orangeColor
.portfolio-filter
	margin-bottom 40px
	text-align center
.portfolio-filter__item
	display inline-block
	vertical-align: top
	font-size 16px
	margin 0 15px
	&.portfolio-filter__item--all
		display none
.portfolio-slider
	display none