.quote
	background-color mainColor
	color white
	text-align center
.quote-text
	width 100%
	max-width 840px
	margin 0 auto 35px
	font-size 20px
	line-height 38px
	&:before
		content ''
		display block
		sprite($s-quote)
		margin 0 auto 25px
.quote-author
	font-size 20px
	font-style italic
	line-height 38px
	font-family lightFont