.top-bg
	background url('../img/general/top_bg.jpg') center no-repeat
	background-size cover
	padding 0
	.container
		min-height 920px
.top-banner__info
	position: absolute
	right 0
	top 40%
	z-index 10
	width 100%
	max-width: 570px
	text-align right
.top-banner__title
	position relative
	display block
	margin-bottom 65px
	font-size: 72px
	text-transform: uppercase
	font-family: boldFont
	&:after
		position absolute
		bottom -30px
		right 0
		content ''
		display block
		width 140px
		height: 4px
		background-color: #000
.top-banner__text
	font-size: 18px
	line-height 34px
	margin-bottom 65px

	