section.advantage.gray-bg
	.container
		.advantage-item
			img(src="../static/img/general/advantage/clock.png").advantange-icon
			span.advantage-title An Wow Feature
			p.section-text__small The gentlemen who rented the room would sometimes take their evening meal at home in the living. 

		.advantage-item
			img(src="../static/img/general/advantage/vector.png").advantange-icon
			span.advantage-title An Beautiful Feature
			p.section-text__small The gentlemen who rented the room would sometimes take their evening meal at home in the living. 
		
		.advantage-item
			img(src="../static/img/general/advantage/traktor.png").advantange-icon
			span.advantage-title An Amazing Feature
			p.section-text__small The gentlemen who rented the room would sometimes take their evening meal at home in the living. 
		