section.clients.gray-bg
	.container
		span.section-title Clients
		.clients-slider
			.clients-slider__prev
			.clients-slider__next
			ul.js-clients__slider
				li
					img(src="static/img/content/clients/client1.png")
				li
					img(src="static/img/content/clients/client2.png")
				li
					img(src="static/img/content/clients/client3.png")
				li
					img(src="static/img/content/clients/client4.png")
				li
					img(src="static/img/content/clients/client5.png")
				li
					img(src="static/img/content/clients/client6.png")
				li
					img(src="static/img/content/clients/client7.png")
				li
					img(src="static/img/content/clients/client8.png")
				li
					img(src="static/img/content/clients/client9.png")
				li
					img(src="static/img/content/clients/client10.png")
				li
					img(src="static/img/content/clients/client11.png")
				li
					img(src="static/img/content/clients/client12.png")