section.facts
	.container
		span.section-title Facts & Numbers
		.facts-item__wrap
			.facts-item
				span.facts-number 110
				span.facts-title succesful project
			.facts-item
				span.facts-number 25
				span.facts-title awesome clients
			.facts-item
				span.facts-number 30
				span.facts-title open source plugins
			.facts-item
				span.facts-number 13
				span.facts-title open source themes