section.featured
	.container
		span.section-title Featured Articles
		p.section-text__big The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the
		.featured-slider
			.featured-slider__prev
			.featured-slider__next
			ul.js-featured__slider
				li.featured-item
					span.featured-item__filter Comic
					p.featured-item__text A million ways to die in the wild wild wild west
					.featured-item__bottom
						img(src="static/img/content/featured/photo1.png").featured-item__photo
						span.featured-item_name jimmy jefferson
						span.featured-item_date 21/08/2013
				li.featured-item
					span.featured-item__filter Lifestyle
					p.featured-item__text The most comfortable chair comes with no backpain
					.featured-item__bottom
						img(src="static/img/content/featured/photo2.png").featured-item__photo
						span.featured-item_name Gail Gutierrez
						span.featured-item_date 21/08/2013
				li.featured-item
					span.featured-item__filter travel
					p.featured-item__text Journey to the center of the earth with jefferson 
					.featured-item__bottom
						img(src="static/img/content/featured/photo3.png").featured-item__photo
						span.featured-item_name mason johnston
						span.featured-item_date 21/08/2013
				li.featured-item
					span.featured-item__filter Comic
					p.featured-item__text A million ways to die in the wild wild wild west
					.featured-item__bottom
						img(src="static/img/content/featured/photo1.png").featured-item__photo
						span.featured-item_name jimmy jefferson
						span.featured-item_date 21/08/2013
				li.featured-item
					span.featured-item__filter Lifestyle
					p.featured-item__text The most comfortable chair comes with no backpain
					.featured-item__bottom
						img(src="static/img/content/featured/photo2.png").featured-item__photo
						span.featured-item_name Gail Gutierrez
						span.featured-item_date 21/08/2013
				li.featured-item
					span.featured-item__filter Comic
					p.featured-item__text A million ways to die in the wild wild wild west
					.featured-item__bottom
						img(src="static/img/content/featured/photo1.png").featured-item__photo
						span.featured-item_name jimmy jefferson
						span.featured-item_date 21/08/2013
				li.featured-item
					span.featured-item__filter Lifestyle
					p.featured-item__text The most comfortable chair comes with no backpain
					.featured-item__bottom
						img(src="static/img/content/featured/photo2.png").featured-item__photo
						span.featured-item_name Gail Gutierrez
						span.featured-item_date 21/08/2013

