section.team_members
	.container
		span.section-title Team Members
		p.section-text__big The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the
		.team_member__wrapper
			.team_members__info.team-item__lead
				span.team_members__name JAMES PHILLY
				span.team_members__role Lead Developer
			.team_members__info.team-item__model
				span.team_members__name CACTUS JACK
				span.team_members__role 3D Model Designer
			.team_members__info.team-item__master
				span.team_members__name JACK SPARROW
				span.team_members__role Master of All Trade
			.team_members__info.team-item__manages
				span.team_members__name JAGA SQUAREHEAD
				span.team_members__role Manages Money